<p-toolbar styleClass="shadow-2">
  <div class="p-toolbar-group-start">
    <p-button icon="pi pi-bars" styleClass="p-button-text" />
    <span class="text-xl font-bold ml-2">Clínica Médica</span>
  </div>

  <div class="p-toolbar-group-end flex align-items-center gap-2">
    <p-avatar label="A" styleClass="mr-2" size="normal" shape="circle" />
    <span class="font-semibold">Admin (Mock)</span>
    <p-button icon="pi pi-sign-out" styleClass="p-button-text p-button-danger" label="Sair" />
  </div>
</p-toolbar>
